<%= form_for(gmail) do |f| %>
  <% if gmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gmail.errors.count, "error") %> prohibited this gmail from being saved:</h2>

      <ul>
      <% gmail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :gmailemail %>
    <%= f.text_field :gmailemail %>
  </div>

  <div class="field">
    <%= f.label :gmailpass %>
    <%= f.text_field :gmailpass %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
