<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Email</th>
         <th>File Name</th>
      </tr>
   </thead>
   
   <tbody>
      <% @resumes.each do |resume| %>
            <% array_url=(resume.attachment_url).split("/") %>
            <% len=array_url.length%>
            <tr>
               <td><%= resume.email %></td>
               <td><%= array_url[len-1] %></td>
               <td><%= button_to "Download File",  download_file_resume_path(resume), method: :get, class: "btn btn-primary", style:"color:white"%></td>
               <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.email}?" %></td>
            </tr>
         
      <% end %>
   </tbody>
   
</table>
<%= link_to "Upload New File To Our Distributed Database", new_resume_path, class: "btn btn-primary", style:"color:white" %>
