<%= form_for(twitter) do |f| %>
  <% if twitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
      <% twitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :twitteremail %>
    <%= f.text_field :twitteremail %>
  </div>

  <div class="field">
    <%= f.label :twitterpass %>
    <%= f.text_field :twitterpass %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
